@import url(https://fonts.googleapis.com/css?family=Monoton);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/39/60/fyXr18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid{
    width: 100%;
    height: 50px;
    background-color: black;
}
@media screen and (max-width:768px) {
    .container-fluid{
        display: none;
    }
}


/*      MediaQuery    */
[class ^="col-"]{
    float: left;
}
.row{
    content: '';
    clear: both;
}
@media screen and (max-width:768px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

@media screen and (min-width:768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
@media screen and (min-width:992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
@media screen and (min-width:1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}
/*              head            */

.menu{
    width: 50%;
    height: 50px;
    display: inline-block;
    text-align: center;
}
.menu-right{
    float: right;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    margin: 20px 50px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    color: greenyellow;
}

.menu a:hover{
    color: red;
}
/*          head         */
.head{
    max-width: 100%;
    height: 100px;
    margin: 100px 50px;
    text-align: right;
    padding: 20px;
    color: #fff;
}
.head h3{
    animation:flicker 2s;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
.card-image{
    width: 200px;
    height: 300px;
    margin: 100px ;
    border: solid 2px wheat;
   
}
.gradient-border{
    width: 100%;
    height: 100%;
    /* background-color: #0fa; */
}
.gradient-border img{
    max-width: 151px;
    height: auto;
    float: right;
    mix-blend-mode: luminosity;
    color: rgba(20, 19, 19, 0.925);
    transform: scaleX(-1);
}

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
@media screen and (max-width:567px) {
    .head h3 {
        font-size: 20px;
    }
}
.head h3{
    font-size: 50px;
}
@media screen and (max-width:567px){
    .head h3 {
        font-size: 20px;
        margin-top: 50px;
    }
}
/*          Sidebar          */
.sidebar{
    /* width: 40px; */
    height: 600px;
    margin-top: 70px;
    display: inline-block;
    position: fixed;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(17, 25, 40, 0.562); */
}
.sidebar li{
    margin-bottom: 30px;
}
.sidebar li img:hover{
    cursor: pointer;
    animation:animate__bounce 0.7s ;
}

@keyframes animate__bounce {
    from{
        transform: rotate();
    }
    to{
        transform: rotate(360deg);
    }
}
@media screen and (max-width:568px) {
   .sidebar{
    display: none;
   }
}
.icon-codepen{
    width: 70px;
}
/*          container        */
.container{
    max-width: 1200px;
    height: 1200px;
    margin:200px  auto;
    color: aliceblue;
}

.casrds{
    width: 280px;
    height: 400px;
    margin: auto;
    padding: 25px 30px;
    text-align: center;
    border:  solid 1px rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.373);
    cursor: pointer;
}
.casrds img{
    max-width: 200px;
    height: auto;
    display:inline-block;
    position:relative;
    margin-bottom: 20px;
}
.container .percents{
    width: 80%;
    height: 5px;
    margin:10px auto ;
    border: solid 1px;
}
.percent-html{
    height: 4px;
    animation: progresHTML 1s forwards;
}
.percent-html:hover{
    height: 4px;
    animation: progresHTML 1s forwards;
}
@keyframes progresHTML {
    from{
        width: 0;
    }
    to{
        width: 50%;
    background-color: rgb(255, 153, 0);

    }
}
.percent-css{
    height: 4px;
    animation: progresCSS 1.5s forwards;
}
@keyframes progresCSS {
    from{
        width: 0;
    }
    to{
        width: 50%;
        background-color: rgb(0, 60, 255);

    }
}
.percent-git{
    height: 4px;
    animation: progresGit 2s forwards;
}


@keyframes progresGit {
    from{
        width: 0;
    }
    to{
        width: 20%;
        background-color: rgb(143, 69, 218);
    }
}
.percent-js{
    height: 4px;
    animation: progresJS 2.5s forwards;
}
@keyframes progresJS {
    from{
        width: 0;
    }
    to{
        width: 30%;
        background-color: yellow;
    }
}
.percent-color{
    animation: changecolor 8s;
}
@keyframes changecolor  {
    0%{
        color: transparent;
    }
    50%{
        color: lightblue;
    }
    100%{
        color: #fff;
    }
}

/*      Media Query for Responsive  */
.btn-menu{
    margin: 25px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.close::before{
    content: '\002716  Close';
    color: rgb(138, 63, 63);
}
.open::before{
    content: '\002630';
    color: #0fa;
}
@media screen and (max-width:1145px) {
    .casrds{
        width: 70%;
        margin: 0 auto 1px;
    }
}
@media screen and (max-width:768px) {
    .casrds{
        width: 70%;
        margin: 10px auto ;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .casrds img{
        width: 50%;
    }
}

@media screen and (max-width:1326px) {
    .casrds{
        width: 240px;
        height: 400px;
        padding: 40px;
    }
    .sidebar{
        display: none;
    }
    .head {
        margin: 150px 20px;
    }
   
}
@media screen and (min-width:1326px) {
    .container-menu-burger{
        display: none;
    }
}



@media screen and (max-width:768px) {
    .casrds{
        width: 270px;
        height: 200px;
        padding: 40px;
    }
    .casrds .percents{
        display: inline-block;
        margin-top: 100px;
    }
    .casrds p{
       margin-top:80px;
    }
    .card-image{
        margin: auto;
        margin-bottom: 50px;
    }
   
}
@media screen and (max-width:568px) {
    .casrds{
        width: 270px;
        height: 200px;
        padding: 40px;
    }
    .casrds .percents{
        display: inline-block;
        margin-top: 100px;
    }
    .casrds p{
       margin-top:80px;
    }
    .card-image {
       
    }
   
}
@media screen and (max-width:412px) {
   
  .head{
      display: none;
  }
  
}